	<div class="col-sm-12">
		</br></br></br></br></br></br>
		<div class="col-sm-4"></div>
   		 <div class="col-lg-4 col-md-8 col-xs-6">
          	<img class="img-responsive center-block"  img src="images/logo.png" alt="Chania" width="200" height="100">
         </div>
	</div>
	<div class="container center-block">
			<div class="col-sm-4">			
				<div class="col-lg-12 col-md-10 col-xs-8">
					<div class="col-sm-12"></div>
					</br></br></br></br>
					<img class="img-responsive " img src="images/btn4.png" width="50" height="50" style="margin-right:-20px;float:right;">
				</div>
			</div>
			<div class="row">
                <div class="col-lg-4 col-md-8 col-xs-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading"  ng-controller = "clair.controller.loginController as loginCon">
                        
                        <form class="login-form" name = "loginForm" ng-submit="loginCon.postForm()" novalidate>
	                            <div class="row ">
	                                <div class="col-xs-4 center-block">
	                                    <i class="fa fa-comments fa-5x"></i>
	                                </div>
	                                <div class="col-xs-9 text-right">
	                                    <div class="margin-left:15px;" >Water Wiser</div>
	                                </div>
	                            </div>
								<div class="form-group">
		                            <label class="control-label col-sm-2" for="pwd"></label>
		                            <div class="col-sm-12">
		                              	<input type="text" id="inputUsername" class="form-control" id="text" placeholder="USER NAME" ng-model = "loginCon.userName" required autofocus>		                              	 
							                  <span style = "color:red" ng-show = "loginForm.userName.$dirty && loginForm.userName.$invalid">
							                     <span ng-show = "loginForm.userName.$error.required">User Name is required.</span>
							                  </span>
		                            </div>
	                           </div>
				 			   <div class="col-sm-12"></div>
				    		   <div class="form-group">
		                            <label class="control-label col-sm-2" for="pwd"></label>
		                            <div class="col-sm-12">
		                            	<input type="password" id="inputPassword" class="form-control" id="pwd" placeholder="PASSWORD" ng-model = "loginCon.password" required>		                            	
								            <span style = "color:red" ng-show = "loginForm.password.$dirty && loginForm.password.$invalid">
								               <span ng-show = "loginForm.password.$error.required">Password is required.</span>
								            </span>
		                            </div>
	                           </div>
							   </br></br></br></br>
							   <div class="col-sm-12"></div>
							   <div class="col-sm-12"></div>
							   
							   <div class="btn-group btn-group-justified">
		                           <div class="col-md-6"> 
		                          	 	<button type="submit" class="btn btn-default" style="float:left;" type="submit" ng-disabled = "loginForm.userName.$dirty &&
								               loginForm.userName.$invalid || loginForm.password.$dirty &&
								               loginForm.password.$invalid" ng-click="loginCon.submit()">Login</button>
						  		   </div>
							   		<div class="col-md-6"> 
		                           		<button type="submit" class="btn btn-default" style="float:right;" ng-click="loginCon.reset()">NEW USER</button>
							   		</div>
		                        </div>
		                        <div class="clearfix"></div>
                     		 </form>
                            </div>
                        </a>
                    </div>
                </div>
			</div>
	</div>

